@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$footer-font-family: var(--reimu-default-font-family);
$default-color: #e7385d;
$footer-add-color: #3ba55c;
$footer-add-button-font-family: 'Roboto', sans-serif;

footer {
  background-color: var(--reimu-footer-color);
  color: white !important;
  position: absolute;
  z-index: 9999;
  margin-top: auto;
  padding: 16px 72px;
  overflow: hidden;
  font-family: var(--reimu-default-font-family);
  position: relative;
  margin-top: auto;
  text-align: center;

  .footer-paragraph {
    color: #fff;
    font-size: 1em;
    margin: 0;
    font-family: $footer-font-family;
  }

  .social-networks {
    display: flex;
    justify-content: center;
    gap: 0.25em;
    font-size: 3em;
    margin-bottom: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.footer-add {
  h2 {
    font-family: $footer-font-family;
    font-size: 1.3em;
    margin: 10px auto 1% auto;
    color: $default-color;
  }

  a {
    button {
      appearance: none;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      font-family: $footer-add-button-font-family;
      line-height: 20px;
      font-size: 17px;
      color: #fff;
      min-width: 36px;
      margin: 1.5% auto;
      padding: 0.55rem 1rem;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      background: $footer-add-color;
      animation: float 5s ease-in-out infinite;
      display: flex;
    }
  }

  p {
    font-family: $footer-font-family;
    color: #fff;
    margin: 0;
    margin-top: 10px;
  }

}

@media (max-width: 768px) {
  footer {
    padding: 16px 24px;
  }

  .footer-add h2 {
    font-size: 1.1em;
  }

  footer .social-networks {
    font-size: 2em;
  }
}