@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.lucide.lucide-chevron-down-icon.lucide-chevron-down {
  width: 16px;
  height: 14px;
}

.mobile i {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.mobile {
  display: none;
  position: fixed;
  top: 0.141rem;
  left: 20px;
  font-size: 30px;
  background-color: transparent;
  color: var(--reimu-default-font-color);
  border: none;
  cursor: pointer;
  z-index: 2000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

#features-menu,
#support-menu,
#dashboard-menu {
  position: fixed;
  display: none;    
  z-index: 20000;
  background: var(--reimu-feature-session-background);
  padding: 12px 5px;
  font-weight: 500;
  border-radius: 9px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  min-width: 220px;
  max-width: calc(100vw - 32px);
  color: var(--reimu-default-font-color);
  transition: opacity .12s ease;
  opacity: 0;

  .user-info {
      h3 {
          font-size: 1rem;
            font-family: var(--reimu-default-font-family);
            color: var(--reimu-default-font-color);
            padding-top: 0.3rem;
            text-align: center;
          }
      }

  .separator {
    clear: both;
    border: 1px solid var(--reimu-sidebar-separator);
    height: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

#features-menu.open,
#support-menu.open,
#dashboard-menu.open {
  display: block;
  opacity: 1;
}

.menu-wrapper {
  gap: 5px;
  align-items: stretch;

  &.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 5px 10px !important;
  }
}

.cmd-category-link {
  display: block;
  padding: 10px 24px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--reimu-default-font-color);
  font-family: var(--reimu-default-font-family), serif;
  transition: transform .12s ease, background .12s ease;
}

.cmd-category-link:hover {
  background: var(--reimu-sidebar-entry-hover);
}


nav.marisa-navbar {
  background-color: var(--reimu-navbar-color);
  top: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300 !important;
  font-size: 17px;
  line-height: 1;
  z-index: 1001;
  position: fixed;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(10px);
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.29rem 0;
  border: 1px solid var(--reimu-header-border);


  #theme-toggle-btn {
    position: relative;
    text-decoration: none;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 44px;
      height: 44px;
    }
  }

  .menu-parent {
    margin-top: 2px;
    position: relative;
    display: inline-block;
  }

  .icon {
    filter: drop-shadow(0 1px rgba(0, 0, 0, 0.2));
  }

  .left-entries {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: flex-start;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    max-width: calc(100% - 200px);
    overflow-x: auto;
  }

  .foxy-navbar-logo {
    padding: 0rem 0rem 0rem 1.99rem;
    flex-shrink: 0;

    img {
      height: 36px;
      width: auto;
    }
  }
}


.right-entries {
  display: flex;
  padding: 0 1em 0 6em;

  a#login-header-btn {
    &>img {
      line-height: 0;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -11px;
      border-radius: 100%;
      font-size: 0;
    }

    &>div {
      width: 40px;
      line-height: 0;
      font-size: 0;
      visibility: hidden;
      height: 0;
      display: inline-block;
    }

    &>span {
      padding-left: 4px;
    }
  }
}

.entry {
  display: flex;
  align-items: center;
  color: var(--reimu-navbar-text-color) !important;
  font-size: 17px;
  transition: 0.5s;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;

  &.logout {
    color: #f34040 !important;
  }

  a {
    color: var(--reimu-navbar-text-color) !important;
    text-decoration: none;
    transition: 0.3s;
    color: var(--reimu-navbar-text-color) !important;

    &:hover {
      color: var(--reimu-navbar-text-color) !important;
      text-decoration: none;
    }


    &#theme-toggle-btn {
        padding-right: 1rem
    }

    &.logged-out {
        padding-left: 0
    }

    &#premium {
      color: #e3c000 !important;
    }

    &#premium:hover {
      color: #ffec8b !important;
    }
  }
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.theme-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  transition: background-color 0.3s;
  margin-right: 1rem;
  margin-left: -1rem;
}

.theme-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  svg {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
  }
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
}

/* Mobile Nav */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #2d184b;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;

  a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }

  a:hover,
  a:focus {
    color: #0088a9;
  }
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--reimu-navbar-color);

  a {
    font-family: var(--reimu-default-font-family);
    font-weight: 500;
    color: var(--reimu-navbar-text-color);
    text-decoration: none;
  }
}

@media screen and (max-height: 450px) {
  nav.marisa-navbar {
    padding: 0.89rem 0;
  }

  .overlay a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  nav.marisa-navbar {
    padding: 0.89rem 0;
  }

  main {
    text-align: center;
    transition-duration: 0.5;
  }

  nav.navigation-bar {
    top: 0;
    width: 126%;
    height: 50px;
    font-family: "Oswald" !important;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 0;
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-left: -1.3rem;
  }

  .left-entries {
    margin-top: 1rem;

    .entry {
      display: none !important;
    }
  }

  nav.navigation-bar .right-entries {
    display: none;
  }

  .mobile {
    display: block;
  }

  .left-sidebar {
    left: -100%;
    width: 100%;
  }

  .left-sidebar.open {
    left: 0;
  }
}