@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$sidebar-background: #251a35;
$separator-color: #2f3136;
$default-color: #e7385d;

.left-sidebar {
  position: fixed;
  top: 2.8rem;
  bottom: 0;
  left: 0;
  width: 330px;
  background-color: var(--reimu-sidebar-color);
  transition: left 0.3s ease;
  overflow-y: auto;
  padding: 0.5rem;
  font-weight: 500 !important;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--reimu-sidebar-color);
  z-index: 900;

  .entry {
    color: var(--reimu-sidebar-font-color);
    font-family: "Poppins";
    font-size: 0.895rem;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease;
    padding: 8px 15px;
    border-radius: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var(--reimu-primary-color);
      color: #fff;
    }
  }

  .separator {
    clear: both;
    border: 1px solid var(--reimu-primary-color);
    height: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sidebar-server-icon {
    border-radius: 50%;
    margin: 60px auto 0;
    display: block;
    width: 130px;
    height: 130px;
  }

  .section-title {
    color: $default-color;
    font-size: 20px;
    text-align: left !important;
    font-family: "Poppins";
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

    &.greetings {
      text-align: center !important;
      margin: 1rem 0 0 0 !important;
    }
  }


  .logo {
    width: 150px;
    margin: 1rem auto 10px;
    margin-bottom: 5px;
    margin-top: 1rem !important;
    display: block;

    &.avatar {
      border-radius: 50%;
      margin: 0rem auto 0rem;
    }
  }

  .server-icon {
    width: 50%;
    margin: 0rem;
    margin-left: 23%;
    border-radius: 50%;
    margin-right: 0%;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}


.sidebar-toggle {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background-color: transparent;
  color: var(--reimu-default-font-color);
  border: none;
  cursor: pointer;
  z-index: 2000;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  .left-sidebar {
    left: -100%;
    width: 80%;
  }

  .left-sidebar.open {
    left: 0;
  }
}