@import "header";

:root {
  --reimu-primary-color: #e7385d;
  --reimu-secondary-color: #25232d;
  --reimu-tertiary-color: #25232d;

  --reimu-background-color: #f8f7f6;
  --reimu-border-color: #d1d1d1;
  --reimu-header-border: #c6c6c68f;
  --reimu-loading-overlay-color: #bbbbbb91;
  --reimu-backdrop-blur: blur(12px);

  --reimu-default-font-color: #2e3038;
  --reimu-popup-font-color: #000;

  --reimu-default-font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
  --reimu-default-button-font-family: Roboto, sans-serif;
  --reimu-greetings-font: "Cookie";

  --reimu-feature-session-background: #fff;
  --reimu-feature-card-background: var(--reimu-tertiary-color);
  --reimu-feature-card-font-color: #2e3038;

  --reimu-embed-color: #393a41;

  --reimu-navbar-color: #ffffffa8;
  --reimu-navbar-text-color: #2e3038;
  --reimu-navbar-text-hover-color: #bbb;
  --reimu-navbar-font-size: 17px;
  --reimu-navbar-font-family: var(--reimu-default-font-family);

  --reimu-sidebar-color: #fff;
  --reimu-sidebar-font-size: 14px;
  --reimu-sidebar-font-weight: 500;
  --reimu-sidebar-font-color: #353535;
  --reimu-sidebar-entry-hover: #eeeeee;
  --reimu-sidebar-separator: #c2c2c25c;

  --reimu-mobile-nav-color: var(--reimu-secondary-color);
  --reimu-mobile-nav-text-color: #ddd;

  --reimu-button-color: var(--reimu-primary-color);
  --reimu-button-hover-color: var(--reimu-secondary-color);
  --reimu-button-active-color: var(--reimu-primary-color);

  --reimu-button-font-color: #fff;
  --reimu-button-font-size: 14px;
  --reimu-button-font-weight: 500;

  --reimu-button-border-radius: 10px;
  --reimu-button-padding: 10px 20px;

  --reimu-premium-card-background: #ffcdd8;
  --reimu-premium-card-border: 1px solid var(--reimu-primary-color);
  --reimu-premium-card-font-color: #eee;

  --reimu-premium-recommended-color: #b93e69;
  --reimu-premium-recommended-flag-color: var(--reimu-primary-color);
  --reimu-premium-recommended-flag-font-color: #fff;

  --reimu-premium-card-button-color: var(--reimu-primary-color);
  --reimu-premium-card-button-font-color: #fff;

  --reimu-server-card-color: var(--reimu-secondary-color);

  --reimu-searchbar-text: #fff;
  --reimu-searchbar-background: #fff;

  --reimu-footer-color: #e7385d;

}

* {
cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto !important;
}

a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
.slider.round,
.entry,
.left-sidebar.entry,
select {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2.01 2-2.01h0a2 2 0 0 1 2 2V11Z"></path></svg>'), pointer !important;
}