@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import "store";
@import "footer";
@import "adsense";
@import "readonly";
@import "daily";
@import "commands";

html {
  background: var(--reimu-background-color) !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--reimu-primary-color);
}

* {
  text-decoration: none !important;
}

main .greetings {
  color: var(--reimu-default-font-color);
  font-size: 40px;
  font-family: 'Cookie', serif;
  margin-left: 5px;
  margin-top: 5px;
}

main .greetings-2 {
  color: var(--reimu-default-font-color);
  font-size: 40px;
  font-family: 'Cookie';
  margin-left: 5px;
  margin-top: 1px;
}

.foxy-logo {
  width: 11rem;
  height: auto;
}

.foxy-body {
  width: 24rem;
  height: auto;
  position: absolute;
  right: 7rem;
  top: 3rem;
  animation: fadeInLeft 1s ease-out forwards;
}

.intro {
  animation: fadeInRight 1s ease-out forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.feature-card-section {
  padding: 30px;
  opacity: inherit;
  background-color: var(--reimu-feature-session-background);
  border-color: #000;
  position: relative;
  text-align: center;
}

.main-buttons {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #ffffff;
  background-color: #0569ff;
  border-radius: 10px;
  transition: 0.5s;
  margin-left: 5px;
  font-family: Roboto, sans-serif;
  transition-property: box-shadow;
  cursor: pointer;

  &#add {
    background-color: var(--reimu-primary-color);

    &:hover {
      background-color: #ff3a3a;
      transition: 0.5s;
    }

    &:active {
      background-color: var(--reimu-primary-color);
      transition: 0.5s;
    }

    &:not(:hover) {
      transition: 0.5s;
    }
  }
}

.main-buttons:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

main {
  margin-bottom: 6rem;
  margin-top: 15%;
  transition-duration: 0.5s;
  text-align: center;
  cursor: default;

  .intro {
    text-align: center;
    width: 65%;
    position: relative;
    margin-bottom: 9rem;
    margin-top: 11rem;
  }
}


.feature-card-section {
  padding: 30px;
  background-color: var(--reimu-feature-session-background);
  border-color: #000;
  position: relative;
  text-align: center;
  border: 1px solid var(--reimu-header-border);

  .title {
    font-family: var(--reimu-default-font-family);
    font-size: 200%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #e7385d;
  }

  p {
    font-family: var(--reimu-default-font-family);
    font-size: 15px;
    color: var(--reimu-feature-card-font-color);
    margin-left: auto;
  }

  .feature-card__title {
    font-family: var(--reimu-default-font-family);
    font-size: 20px;
    margin-top: 20px;
    color: var(--reimu-feature-card-font-color);
  }

  .description {
    font-family: var(--reimu-default-font-family);
    color: var(--reimu-feature-card-font-color);
  }

  .feature-card {
    display: flex;
    margin: 20px;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--reimu-feature-card-background);
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid var(--reimu-header-border);

    &.right {
      flex-direction: row;
    }

    &.left {
      flex-direction: row-reverse;
    }

    &.centralized {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .text-container {
      flex: 1;
      text-align: left;
      margin-right: 20px;
      padding: 0 10px;
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s;
    }

    h1 {
      font-family: var(--reimu-default-font-family);
      font-size: 160%;
      margin: 0 0 10px 0;
      color: var(--reimu-primary-color);
    }

    h2 {
      font-family: var(--reimu-default-font-family);
      font-size: 110%;
      margin: 0;
      color: var(--reimu-feature-card-font-color);
    }

    .feature-card-image {
      width: 10rem;
      height: auto;
      margin-left: 20px;
      transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
    }
  }
}

.server-name {
  color: var(--reimu-feature-card-font-color) !important;
  margin-top: 1rem !important;
}

main {
  margin-top: 6rem;

  .title {
    color: var(--reimu-default-font-color);
    font-size: 33px;
    margin-left: 5px;
  }

  .title-2 {
    color: var(--reimu-default-font-color);
    font-size: 40px;
    font-family: var(--reimu-greetings-font);
    margin-left: 5px;
    margin-top: 1px;
  }
}

.server-card {
  border-radius: 10px;
  padding: 15px;
  color: var(--reimu-default-font-color);
  text-align: center;
  display: inline-block;
  vertical-align: top;
  transition: transform 0.3s;

  img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: -5px;
  }

  .server-name {
    font-size: 20px;
    margin-bottom: -10px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  main .intro {
    width: 100%;
    padding: 1rem;
  }

  button #add {
    margin-bottom: 0.5rem;
  }

  .foxy-body {
    display: none;
  }

  .feature-card {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .text-container {
      margin-right: 0;
      padding: 0;
      margin-top: 20px;
    }

    .feature-card-image {
      display: none;
    }
  }
}