.ad {
  &.vertical {
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 1000;


    @media (max-width: 1024px) {
      width: 120px;
      height: 500px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}