.cirno-card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cirno-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  margin-left: 24rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  background-color: var(--reimu-feature-card-background);
  color: var(--reimu-default-font-color);
  transition: 0.3s;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.cirno-card-buttons {
  margin-top: 1.2rem;
  margin-left: -0.596rem;

  &>a>button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-family: var(--reimu-default-font-family), serif;
    line-height: 20px;
    font-size: 17px;
    color: var(--reimu-button-font-color);
    min-width: 36px;
    font-weight: var(--reimu-button-font-weight);
    margin-left: 1.5%;
    padding: .55rem 1rem;
    box-sizing: border-box;
    border-radius: var(--reimu-button-border-radius);
    cursor: pointer;
    text-decoration: none;
    background: var(--reimu-button-color);
    animation: float 5s ease-in-out infinite;
  }
}

.cirno-card-title {
  margin-bottom: 0rem;
  margin-left: 24rem;
  margin-top: -1rem;
  font-family: var(--reimu-default-font-family);
  color: #e7385d;
  font-size: 1.5rem;
}

.cirno-card-image {
  width: 4rem;
  height: 4rem;
  margin-bottom: -3.40rem;

  &.avatar {
    border-radius: 50%;
    transition: 0.5s;

    &:hover {
      border-radius: 25%;
      transition: 0.5s;
    }

    &:not(:hover) {
      border-radius: 50%;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 1.5rem;
  }
}

.cirno-card-info {
  display: flex;
  flex-direction: column;

  &.has-avatar {
    margin-left: 4.945rem;
    margin-top: -0.8rem;

    @media (max-width: 768px) {
      margin-left: -0.055rem;
    }
  }
}

.cirno-card-name {
  font-size: 1.5rem;
  color: #e7385d !important;
  margin-bottom: 1rem;
  font-weight: bold;

  &.big-name {
    font-size: 1rem;
    margin-bottom: 2px;
  }
}

.cirno-card-description {
  margin-bottom: 1rem;
  margin-left: 25rem;
  margin-top: 1rem;
  font-family: var(--reimu-default-font-family);
  color: #fff;
  font-size: 1.2rem;
}

.cirno-card-details {
  font-size: 1rem;
  font-family: var(--reimu-default-font-family);
  color: var(--reimu-default-font-color);
}