.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--reimu-loading-overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: var(--reimu-default-font-color);
  z-index: 10001;
  pointer-events: none;

  &.new {
    position: absolute;
    margin-top: 5rem;

    img {
      width: 6rem !important;
    }

    .title {
      margin-top: 1rem;
      color: var(--reimu-default-font-color);
      font-size: 2rem;
      margin-left: 1rem;
    }
  }

  img {
    width: 8rem;
  }

  .title {
    margin-top: 1rem;
    color: var(--reimu-default-font-color);
    font-size: 2rem;
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  .hidden {
    display: none;
  }
}