@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$sidebar-background: #251a35;
$separator-color: #2f3136;
$default-color: #e7385d;


.left-sidebar {
  position: fixed;
  top: 2.8rem;
  bottom: 0;
  left: 0;
  width: 320px;
  transition: left 0.3s ease;
  overflow-y: auto;
  padding: 1rem;
  font-weight: 500 !important;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--reimu-sidebar-color);
  z-index: 900;

  .entry {
    color: var(--reimu-sidebar-font-color);
    font-family: "Poppins", serif;
    font-size: 0.9rem;
    display: flex;
    transition: background-color 0.2s ease;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 500;
    align-items: center;
    gap: 0.6rem;
    justify-content: flex-start;

    svg {
      width: 17px;
    }

    &:hover, &.selected {
      background-color: var(--reimu-sidebar-entry-hover);
    }
  }

  .separator {
    clear: both;
    border: 1px solid var(--reimu-sidebar-separator
    );
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sidebar-server-icon {
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
  }

  .section-title {
    color: $default-color;
    font-size: 20px;
    text-align: left !important;
    font-family: "Poppins", serif;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

    &.greetings {
      text-align: center !important;
      margin: 1rem 0 0 0 !important;
    }
  }


  .logo {
    width: 150px;
    margin: 1rem auto 5px;
    display: block;

    &.avatar {
      border-radius: 50%;
      margin: 0 auto 0;
    }
  }

  .server-icon {
    width: 50%;
    margin: 0 0 0 23%;
    border-radius: 50%;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.guild-list {
  position: relative;
  display: inline-block;
  width: 273px;
  margin-left: 0.4rem;
}

#server-select-btn {
  width: 100%;
  background: var(--select-bg, #2f3136);
  color: white;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border: 1px solid var(--reimu-header-border);
}

.custom-select-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--reimu-background-color);
  border-radius: 8px;
  margin-top: 4px;
  list-style: none;
  padding: 0;
  display: none;
  z-index: 10;
  max-height: 220px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  border: 1px solid var(--reimu-border-color);
}

.current-guild-container {
  text-align: center;

  .current-guild-icon {
    margin: 0 auto 8px;
    border-radius: 50%;
    display: block;
    width: 10rem;
    height: 10rem;
  }

  .guild-sidebar-title {
    font-family: var(--reimu-default-font-family), serif;
    color: var(--reimu-default-font-color);
    font-size: 1.2rem;
  }
}

.custom-select-menu::-webkit-scrollbar {
  width: 8px;
}

.custom-select-menu::-webkit-scrollbar-track {
  background: #2b2d31;
  border-radius: 8px;
}

.custom-select-menu::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

.custom-select-menu::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.custom-select-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
  cursor: pointer;
  transition: background 0.2s;
}

.custom-select-menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  width: 100%;
  height: 100%;
  color: var(--reimu-sidebar-font-color);
  text-decoration: none;
}

.custom-select-menu li:hover {
  background: var(--reimu-sidebar-entry-hover);
}

button#server-select-btn {
  font-family: var(--reimu-default-font-family), serif;
  font-weight: 600;
  color: var(--reimu-default-font-color);
  background-color: var(--reimu-background-color);
  border-color: var(--reimu-border-color);
}

span {
  font-family: var(--reimu-default-button-font-family), serif;
  color: var(--reimu-navbar-text-color);
}

.sidebar-server-icon {
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
}

.guild-list.open .custom-select-menu {
  display: block;
}


@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  .left-sidebar {
    left: -100%;
    width: 80%;
  }

  .left-sidebar.open {
    left: 0;
  }
}