@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@import "components/footer";
@import "components/background";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.mobile i {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-top: 0.590rem;
}

.mobile {
    display: none;
    position: fixed;
    top: 0.141rem;
    z-index: 9999;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    color: var(--reimu-default-font-color);
    border: none;
    cursor: pointer;
    z-index: 2000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        outline: none;
    }
}

nav.marisa-navbar {
    background-color: var(--reimu-navbar-color);
    top: 0;
    width: 100%;
    height: 46px;
    font-family: var(--reimu-default-font-family);
    font-weight: 501;
    font-size: 17px;
    line-height: 1;
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: row;

    .icon {
        filter: drop-shadow(0 1px rgba(0, 0, 0, 0.2));
    }

    .left-entries {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        flex-flow: wrap;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: flex-start;
    }

    .right-entries {
        display: flex;
        padding: 0em 1em;

        a#login-button {
            &>img {
                line-height: 0px;
                width: 40px;
                height: 40px;
                position: absolute;
                top: 3px;
                border-radius: 100%;
                font-size: 0px;
            }

            &>div {
                width: 40px;
                line-height: 0px;
                font-size: 0px;
                visibility: hidden;
                height: 0px;
                display: inline-block;
            }

            &>span {
                padding-left: 4px;
            }
        }
    }

    .entry {
        display: flex;
        align-items: center;
        color: var(--reimu-navbar-text-color) !important;
        font-size: 17px;
        transition: 0.5s;
        cursor: pointer;
        white-space: nowrap;

        a {
            color: var(--reimu-navbar-text-color) !important;
            text-decoration: none;
            transition: 0.3s;
            color: var(--reimu-navbar-text-color) !important;

            &:hover {
                color: var(--reimu-navbar-text-color) !important;
                text-decoration: none;
            }
        }
    }
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.theme-switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    transition: background-color 0.3s;
    margin-right: 1rem;
    margin-left: -1rem;
}

.theme-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    svg {
        width: 30px;
        height: 30px;
        transition: opacity 0.3s ease;
    }
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
}

/* Mobile Nav */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #2d184b;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;

    a {
        padding: 15px;
        font-size: 36px;
        display: block;
        transition: all 0.3s ease 0s;
    }

    a:hover,
    a:focus {
        color: #0088a9;
    }
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        font-family: var(--reimu-default-font-family);
        font-weight: 500;
        color: var(--reimu-navbar-text-color);
        text-decoration: none;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 15%;
        margin-right: 5%;
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
        transition-duration: 0.5;
    }

    nav.navigation-bar {
        top: 0;
        width: 126%;
        height: 50px;
        font-family: "Oswald" !important;
        font-weight: 500;
        font-size: 17px;
        text-transform: uppercase;
        line-height: 0;
        z-index: 999;
        position: fixed;
        display: flex;
        flex-direction: row;
        margin-left: -1.3rem;
    }

    .left-entries {
        margin-top: 1rem;

        .entry {
            display: none !important;
        }
    }

    nav.navigation-bar .right-entries {
        display: none;
    }

    .mobile {
        display: block;
    }

    .left-sidebar {
        left: -100%;
        width: 100%;
    }

    .left-sidebar.open {
        left: 0;
    }
}