@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "components/background";
@import "components/inline-emoji";
@import "components/footer";

.store-info {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    margin-left: 0rem;
    margin-bottom: 8rem;
}

p {
    color: var(--reimu-default-font-color);
    font-size: 1rem;
    font-family: var(--reimu-default-font-family);
    margin-left: 1rem;
    margin-top: -14rem;

    &.mendigagem {
        font-size: 1.10rem;
    }
}

main {
    padding-left: 20%;
    padding-right: 25%;
    margin-top: 6%;
    margin-left: 10%;
    transition-duration: 0.5s;
    text-align: center;

    .title {
        color: #e7385d;
        font-size: 35px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-family: var(--reimu-default-font-family);
    }

    .store_image {
        width: 20rem;
        height: 20rem;
        text-align: left;
        margin-left: -20rem;
        margin-top: -6rem;
    }
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-left: -60%;
    margin-bottom: 5%;
    cursor: default;
    margin-right: -50%;
}

.items-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-left: -50%;
    margin-bottom: 5%;
    margin-right: -40%;
    cursor: default;
}

.item__info {
    .plan-title {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

.item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.item-rec:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.item,
.item-rec {
    transition: transform 0.5s;
}

.item:not(:hover),
.item-rec:not(:hover) {
    transform: scale(1);
}

.item__info .price {
    margin-top: -2%;
    margin-bottom: 15px;
    font-size: 17px;
    color: var(--reimu-default-font-color);
    font-family: sans-serif;
}

.item__info h3 {
    margin: 0.5;
    font-size: 16px;
    font-weight: normal;
    flex-direction: column;
}

.item__info h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
}

.item__buttons {
    margin-top: 17px;
}

.plan-title {
    color: var(--reimu-premium-card-font-color) !important;
}

.recommended-flag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background: var(--reimu-premium-recommended-flag-color);
    color: var(--reimu-premium-recommended-flag-font-color);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0 0 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotate(-40deg);
    z-index: 1;
    margin-top: 5%;
    margin-left: -10%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.item {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--reimu-premium-card-background);
    color: var(--reimu-default-font-color);
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &.rec {
        background: var(--reimu-premium-recommended-color);
    }
}

.item__button {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--reimu-premium-card-button-color);
    color: var(--reimu-premium-card-button-font-color);
    text-align: center;
    text-decoration: none;
}

main h1 {
    color: #e7385d;
    font-size: 25px;
    font-family: var(--reimu-default-font-family);

    margin-top: 5%;
}

main h3 {
    color: var(--reimu-premium-card-font-color);
    font-size: 20px;
    font-family: var(--reimu-default-font-family);

    margin-top: 5%;
}

main .products {
    display: flex;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: -30%;
    margin-right: 30%;
    max-width: 100%;
    flex-direction: row;

}

.product {
    width: 50%;
    height: 200px;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1rem;
}

main .user__avatar {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    margin-top: -30%;
    margin-bottom: 5%;
}

main h1 {
    color: #e7385d;
    font-size: 25px;
    font-family: var(--reimu-default-font-family);

}

main #coins {
    color: #486be0;
}

main h3 {
    color: var(--reimu-default-font-color);
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5px;
}

main h4 {
    color: var(--reimu-default-font-color);
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 5px;
}

main a {
    list-style: none;
}

.avatar {
    width: 200px;
    height: 200px;
    background: rgb(56, 56, 56);
    border-radius: 300px;
    position: relative;
    background-size: 100%;
    left: 50%;
}

main h2 {
    color: var(--reimu-default-font-color);
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .store_image {
        display: none;
    }

    .store-info {
        display: flex;
        flex-direction: column;
        margin-top: -2rem;
        margin-left: 0rem;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
        margin-left: 4rem;
        margin-bottom: 5%;
        cursor: default;
        margin-right: 4rem;
    }

    main {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        transition-duration: 0.5s;
        text-align: center;
    }

    p {
        color: var(--reimu-default-font-color);
        font-size: 1rem;
        font-family: var(--reimu-default-font-family);
        margin-left: 0rem;
        margin-top: 0rem;
    }

    .item {
        box-sizing: border-box;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        background: #7289da;
        color: var(--reimu-default-font-color);
        font-family: sans-serif;
        font-size: 14px;
        text-decoration: none;
        flex: 1 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
        min-width: 22rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}