@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "components/background";
@import "components/buttons";
@import "components/inline-emoji";
@import "components/footer";

main {
    padding-left: 28%;
    padding-right: 30%;
    margin-top: 15%;
    transition-duration: 0.5s;
    text-align: center;

    .store_image {
        width: 50%;
        height: 40%;
        text-align: center;
        margin-top: -5%;
    }

    h1 {
        color: #e7385d;
        font-size: 25px;
        font-family: var(--reimu-default-font-family);
        margin-top: 6rem !important;
    }

    .products {
        display: flex;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 15%;
        margin-left: -30%;
        margin-right: 30%;
        max-width: 100%;
        flex-direction: row;

        .product {
            width: 50%;
            height: 200px;
            max-width: 100%;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 2%;
            margin-bottom: 2%;
            padding: 1rem;
        }
    }

    .daily-page {
        text-align: center;
        margin-left: 22rem;
        margin-right: 4rem;
        margin-top: -6rem;
        opacity: 1;
        transition: opacity 0.5s ease-out;

        .daily_image {
            width: 7rem;
            text-align: center;
            margin: 0rem;
        }

        .daily-warning {
            font-size: 1rem;
            color: rgb(255, 52, 52);
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: 502;

            & a {
                color: #247ff7;
            }
        }

        .title {
            color: #e7385d;
            font-size: 2.5rem;
            font-family: var(--reimu-default-font-family);
            margin-top: -60%;
            margin-left: 30%;
        }

        #secondContent {
            display: none;
            opacity: 0;
            transition: opacity 0.5s ease-in;
        }

        .cf-turnstile {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3%;
            margin-bottom: 2%;
        }

        #coins {
            background: linear-gradient(to right, #e7385d, #a6ff7d, #e7385d, #f185ff, #e7385d);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: rainbow_animation 6s ease-in-out infinite;
            background-size: 400% 100%;
        }
    }

    .ad {
        text-align: center;
        margin-left: 36%;
        margin-right: 0%;
        margin-top: 1%;
    }

    .user__avatar {
        width: 45%;
        height: 45%;
        border-radius: 50%;
        margin-top: -30%;
        margin-bottom: 5%;
    }

}

.fade-out {
    opacity: 0;

}

.daily-title {
    color: #e7385d;
    font-size: 40px !important;
}

@keyframes rainbow_animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

main h3 {
    color: var(--reimu-default-font-color);
    font-size: 18px;
    margin-left: 5px;
}

main h4 {
    color: var(--reimu-default-font-color);
    font-size: 15px;
    font-family: var(--reimu-default-font-family);
    margin-left: 5px;
}

main a {
    list-style: none;
}

main h2 {
    color: var(--reimu-default-font-color);
    font-size: 20px;
    margin-top: 5px;
}

h1,
h2,
h3 {
    font-family: var(--reimu-default-font-family) !important;
}

@media (max-width: 768px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 10%;

        h2,
        h3,
        h4 {
            font-size: 16px;
        }

        h1 {
            font-size: 22px;
        }

        .result .daily_image {
            width: 7rem;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }

        .products {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }

        .product {
            width: 100%;
        }

        .store_image,
        .daily_image {
            width: 80%;
            height: auto;
            margin-top: 5%;
        }

        .daily-page {
            margin-top: 10%;
            margin-left: 5%;
            margin-right: 50%;

            .title {
                font-size: 30px;
                margin-left: 0;
            }
        }

        .user__avatar {
            width: 60%;
            height: auto;
        }

    }
}

@media (max-width: 480px) {
    main {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
    }

    main h1 {
        font-size: 20px;
    }

    main .products {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .product {
        width: 100%;
    }

    .daily-title {
        color: #e7385d;
        font-size: 32px !important;
    }

    main .daily-page .daily-warning {
        font-size: 1rem;
        color: rgb(255, 52, 52);
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 502;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    main .store_image,
    main .daily_image {
        width: 100%;
        height: auto;
    }

    main .daily-page {
        margin: 0 auto;
        margin-left: 0.360rem;
        margin-top: -3rem;
        width: 100%;
    }

    main .daily-page .title {
        font-size: 25px;
        margin-left: 5%;
        text-align: center;
    }

    main .user__avatar {
        width: 70%;
        height: auto;
    }

    main h2,
    main h3,
    main h4 {
        font-size: 14px;
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}