@import "https://fonts.googleapis.com/css?family=Roboto:500";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  /* Primary Colors */
  --reimu-primary-color: #e7385d;
  --reimu-secondary-color: #f5e1f7;
  --reimu-tertiary-color: #e9d5ff;
  /* Backgrounds and Gradients */
  --reimu-background-color: #ffffff;
  --reimu-loading-overlay-color: rgba(255, 255, 255, 0.8);
  --reimu-feature-session-background: #f5e1f7;
  --reimu-feature-card-background: #f2e6fa;
  --reimu-feature-card-font-color: #333;
  /* Sidebar */
  --reimu-sidebar-color: #f8f4fc;
  --reimu-sidebar-font-size: 14px;
  --reimu-sidebar-font-weight: 500;
  --reimu-sidebar-font-color: #333;
  /* Header */
  --reimu-navbar-color: #e7385d;
  --reimu-navbar-text-color: #fff;
  --reimu-navbar-text-hover-color: #555;
  --reimu-navbar-font-size: 17px;
  --reimu-navbar-font-family: var(--reimu-default-font-family);
  /* Mobile Nav */
  --reimu-mobile-nav-color: #f8f4fc;
  --reimu-mobile-nav-text-color: #333;
  /* Buttons */
  --reimu-button-color: #e7385d;
  --reimu-button-hover-color: #e71946;
  --reimu-button-active-color: #e7385d;
  --reimu-button-font-color: #fff;
  --reimu-button-font-size: 14px;
  --reimu-button-font-weight: 500;
  --reimu-button-border-radius: 2px;
  --reimu-button-padding: 10px 20px;
  /* Specific Element Colors */
  --reimu-server-card-color: #f06272;
  --reimu-backdrop-blur: blur(12px);
  /* Premium Cards */
  --reimu-premium-card-background: #f5e1f7;
  --reimu-premium-card-border: 1px solid #e7385d;
  --reimu-premium-recommended-color: #f06272;
  --reimu-premium-card-font-color: #333;
  --reimu-premium-recommended-flag-font-color: #fff;
  --reimu-premium-recommended-flag-color: #e7385d;
  --reimu-premium-card-button-color: #e7385d;
  --reimu-premium-card-button-font-color: #fff;
  /* Fonts */
  --reimu-greetings-font: "Cookie";
  --reimu-default-font-color: #333;
  --reimu-default-button-font-family: Roboto, sans-serif;
  --reimu-default-font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
  background: url("/assets/images/background-white.png"), var(--reimu-background-color) !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--reimu-primary-color);
}

body {
  color: var(--reimu-default-font-color);
  transition: color 0.3s ease-in-out;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 13rem;
  margin-top: 15rem;
  padding: 1rem;
}
.empty .empty-img {
  width: 10rem;
  height: auto;
  margin: 0 auto;
  display: block;
  filter: grayscale(100%);
}
.empty p {
  margin: 1rem;
  margin-left: 13rem !important;
  font-size: 20px;
  font-family: var(--reimu-default-font-family);
  font-weight: 400;
  color: var(--reimu-default-font-color);
}
.empty.hidden {
  display: none;
}

.inline-emoji {
  height: 1.5em;
  position: relative;
  top: 0.3em;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  animation: fadeOut 3s ease-in-out;
}
.notification.show {
  display: block;
}
.notification.error {
  background-color: #ed4245;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popup-wrapper {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}
.popup-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.popup-wrapper #user-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.popup-wrapper .popup {
  background-color: #fff;
  margin: 10% auto;
  width: 80%;
  border-radius: 5px;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  animation: scaleIn 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.popup-wrapper .popup .content {
  padding: 1rem;
}
.popup-wrapper .popup .content .title {
  text-align: center;
  margin-bottom: 1rem;
}
.popup-wrapper .popup #purchaseForm {
  padding: 0rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.popup-wrapper .popup #importForm {
  padding: 0rem !important;
}
.popup-wrapper .popup .form-content {
  padding: 1rem;
  font-family: var(--reimu-default-font-family);
}
.popup-wrapper .popup .popup-buttons {
  padding: 1em;
  background-color: #cecece;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  border-radius: 0px 0px 7px 7px;
}
.popup-wrapper .popup .popup-buttons .popup-button {
  background-color: var(--reimu-button-color);
  color: white;
  border: none;
  padding: var(--reimu-button-padding);
  border-radius: var(--reimu-button-border-radius);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.popup-wrapper .popup .popup-buttons .popup-button:hover {
  background-color: var(--reimu-button-hover-color);
}
.popup-wrapper .popup .popup-buttons .popup-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.popup-wrapper .popup .popup-buttons .popup-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.popup-wrapper .popup .popup-buttons .popup-button.cancel {
  background-color: transparent;
  color: #000000;
  border: 1px solid #616161;
}
.popup-wrapper .popup .popup-buttons .popup-button.cancel:hover {
  background-color: #616161;
  color: var(--reimu-default-font-color);
}
.popup-wrapper .popup h2 {
  color: #ff4655;
  font-size: 24px;
  margin-left: 5px;
  font-family: var(--reimu-default-font-family);
  margin-bottom: 10px;
}
.popup-wrapper .popup .description {
  color: #000000;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 0rem;
  text-align: left;
  margin-right: 0rem;
}
.popup-wrapper .popup h3 {
  color: #000000;
  font-size: 15px;
  font-family: var(--reimu-default-font-family);
  margin-bottom: 5px;
  margin-top: 3%;
  margin-right: 12%;
  text-align: left;
}
.popup-wrapper .popup .avatar-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
.popup-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--reimu-default-font-color);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .popup-content {
    width: 95%;
    padding: 10px;
    margin: 25% auto;
  }
  .popup-content h2 {
    font-size: 18px;
  }
  .popup-content h3 {
    font-size: 12px;
  }
  .popup-content button {
    padding: 6px 12px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #save {
    color: var(--reimu-default-font-color);
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #359553;
    border: none;
    outline: none;
    font-family: var(--reimu-default-font-family);
    font-size: 14px;
    margin-bottom: 0rem;
    box-sizing: border-box;
    cursor: pointer;
  }
  .popup-content {
    width: 90%;
    padding: 15px;
    margin: 20% auto;
  }
  .popup-content h2 {
    font-size: 20px;
  }
  .popup-content h3 {
    font-size: 14px;
  }
  .popup-content button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.discord-buttons a .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-family: Roboto, sans-serif;
  line-height: 20px;
  font-size: 17px;
  color: var(--reimu-button-font-color);
  min-width: 36px;
  padding: 0.55rem 1rem;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  background: #5865f2;
  animation: float 5s ease-in-out infinite;
}
.discord-buttons a .button.danger {
  background: #ED4245;
}
.discord-buttons a .button.success {
  background: #27a750;
}
.discord-buttons a .button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0.46rem;
  margin-bottom: 0rem;
}
.switch.small {
  width: 40px !important;
  height: 20px !important;
  margin-left: 0.752rem !important;
  margin-right: 0rem !important;
  margin-top: 0.46rem !important;
  margin-bottom: -0.3rem !important;
}
.switch.small .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -8px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch.small .slider:before {
  width: 13px !important;
  height: 12px !important;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: var(--reimu-primary-color);
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--reimu-primary-color);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.config-wrapper {
  padding: 1rem;
  margin-left: 20.4rem;
  margin-right: 10.4rem;
  height: 100vh;
}
.config-wrapper .module-title {
  color: var(--reimu-primary-color);
  font-size: 2rem;
  font-family: sans-serif;
  margin: 2rem 0 1rem;
  text-align: center;
}
.config-wrapper .module-description {
  color: var(--reimu-default-font-color);
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  margin-left: 0rem;
  margin-right: 0;
}
.config-wrapper .config-module-wrapper {
  justify-content: center;
}
.config-wrapper .config-module-wrapper .config-module-form {
  margin-left: auto;
  margin-right: auto;
}
.config-wrapper .config-module-wrapper .config-module-form .config-module {
  margin-top: 2rem;
  background-color: var(--reimu-secondary-color);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -3rem;
  margin-right: -2rem;
  border: 1px solid var(--reimu-tertiary-color);
}
.config-wrapper .config-module-wrapper .config-module-form .config-module .module-name {
  color: var(--reimu-default-font-color);
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  margin-right: 1rem;
}
.config-wrapper .config-module-wrapper .config-module-form .config-module .switch {
  margin-left: auto;
  margin-top: 0.5rem;
}
.config-wrapper .config-module-wrapper .config-module-form .config-module .toggleable-options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.config-wrapper .config-module-wrapper .config-module-form .config-module .toggleable-options .toggleable-option-title {
  color: var(--reimu-default-font-color);
  font-size: 1rem;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
}
.config-wrapper .config-module-wrapper .config-module-form .config-module .toggleable-options .toggleable-option {
  margin-top: 0.5rem;
  margin-right: 0;
}
.config-wrapper .config-module-wrapper .config-module-form .config-module .toggleable-options .toggleable-option.embed-config {
  margin-top: 2rem;
  background-color: #fff;
  border-left: 4px solid #5865F2;
  border-radius: 8px;
  padding: 12px;
  max-width: 500px;
  font-family: "Arial", sans-serif;
}
.config-wrapper .config-module-wrapper .config-module-form .config-module .toggleable-options .toggleable-option:not(:last-child) {
  margin-top: 0.5rem;
}
.config-wrapper .config-module-wrapper .config-module-form .selected-channels {
  margin-top: 10px;
}
.config-wrapper .config-module-wrapper .config-module-form .channel-selector button {
  margin-left: 8px;
}
.config-wrapper .config-module-wrapper .config-module-form .channel-mention {
  display: inline-flex;
  align-items: center;
  background-color: var(--reimu-tertiary-color);
  color: #7289da;
  font-family: sans-serif;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 5px 5px 0 0;
}
.config-wrapper .config-module-wrapper .config-module-form .channel-mention button {
  background: transparent;
  color: var(--reimu-default-font-color);
  border: none;
  cursor: pointer;
}

form {
  width: 83%;
  padding: 0 1rem;
}
form select,
form input,
form textarea,
form #inline-input {
  width: calc(100% - 20px);
}
form select {
  display: block;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #ccc;
  outline: none;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 0.625rem;
  box-sizing: border-box;
}
form select:disabled {
  opacity: 0.5;
}
form select:focus {
  border-color: var(--reimu-primary-color);
  box-shadow: 0 0 5px rgba(88, 101, 242, 0.5);
}
form input {
  display: block;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #ccc;
  outline: none;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 0.625rem;
  box-sizing: border-box;
}
form input:focus {
  border-color: var(--reimu-primary-color);
  box-shadow: 0 0 5px rgba(88, 101, 242, 0.5);
}
form textarea {
  display: block;
  padding: 12px 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 2px solid #d1d1d1;
  outline: none;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 12px;
  margin-top: 0.625rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  resize: vertical;
}
form textarea:hover {
  background-color: #f0f0f0;
}
form textarea:focus {
  border-color: var(--reimu-primary-color);
  box-shadow: 0 0 8px rgba(88, 101, 242, 0.4);
}
form .button-wrapper {
  display: flex;
}
form button {
  display: block;
  padding: var(--reimu-button-padding);
  border-radius: var(--reimu-button-border-radius);
  background-color: var(--reimu-button-color);
  border: none;
  margin: 0.2rem;
  outline: none;
  font-family: var(--reimu-default-button-font-family);
  font-size: var(--reimu-button-font-size);
  font-weight: var(--reimu-button-font-weight);
  color: var(--reimu-button-font-color);
  margin-bottom: 10px;
  margin-top: 0.525rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s;
}
form button:hover {
  background-color: #e71946;
  transition: background-color 0.3s;
}
form .save-button {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2ecc71;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 14px;
  color: var(--reimu-default-font-color);
  margin-bottom: 10px;
  margin-top: 3rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s;
}
form .save-button:hover {
  background-color: #27ae60;
  transition: background-color 0.3s;
}
form #inline-input {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #ccc;
  outline: none;
  font-family: sans-serif;
  font-size: 19px;
  margin-bottom: 10px;
  margin-top: 0.625rem;
  box-sizing: border-box;
}
form #inline-input:focus {
  border-color: var(--reimu-primary-color);
  box-shadow: 0 0 5px rgba(88, 101, 242, 0.5);
}

#saveButton {
  background-color: #248045;
}
#saveButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.actions-wrapper {
  color: white;
  display: flex;
  background-color: var(--reimu-secondary-color);
  position: sticky;
  bottom: 1em;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.01), 0 0px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--reimu-tertiary-color);
  justify-content: center;
  align-items: center;
  transform: scale(1.025);
  z-index: 25;
  bottom: -100px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.actions-wrapper.show {
  bottom: 1em;
  opacity: 1;
  transform: translateY(0);
}

.save-message {
  color: var(--reimu-default-font-color);
  font-size: 0.925rem;
  font-family: sans-serif;
  text-align: center;
  margin-top: 0rem;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 0.5em;
}

.embedColor {
  width: 10%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  margin-bottom: 15px;
}
.embedColor:focus {
  border-color: var(--reimu-primary-color);
}
.embedColor:invalid {
  border-color: #dc3545;
}

@media (max-width: 768px) {
  .config-wrapper {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .config-wrapper .module-description {
    display: block;
  }
  .config-wrapper .config-module-wrapper {
    justify-content: center;
    margin: 0;
  }
  .config-wrapper .config-module-wrapper .config-module-form {
    margin-left: 0;
  }
  .config-wrapper .config-module-wrapper .config-module-form .config-module {
    margin-left: -1rem;
    margin-right: -5rem;
    margin-bottom: 3rem;
  }
  .config-wrapper .actions-wrapper {
    margin-right: -4rem;
  }
  .config-wrapper .module-title {
    margin-left: 1rem;
  }
}
.cirno-card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cirno-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  margin-left: 24rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  background-color: var(--reimu-feature-card-background);
  color: var(--reimu-default-font-color);
  transition: 0.3s;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}
.cirno-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.cirno-card-buttons {
  margin-top: 1.2rem;
  margin-left: -0.596rem;
}
.cirno-card-buttons > a > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-family: var(--reimu-default-font-family);
  line-height: 20px;
  font-size: 17px;
  color: var(--reimu-button-font-color);
  min-width: 36px;
  font-weight: var(--reimu-button-font-weight);
  margin-left: 1.5%;
  padding: 0.55rem 1rem;
  box-sizing: border-box;
  border-radius: var(--reimu-button-border-radius);
  cursor: pointer;
  text-decoration: none;
  background: var(--reimu-button-color);
  animation: float 5s ease-in-out infinite;
}

.cirno-card-title {
  margin-bottom: 1rem;
  margin-left: 25rem;
  margin-top: -3rem;
  font-family: var(--reimu-default-font-family);
  color: #e7385d;
  font-size: 1.5rem;
}

.cirno-card-image {
  width: 4rem;
  height: 4rem;
  margin-bottom: -3.4rem;
}
.cirno-card-image.avatar {
  border-radius: 50%;
  transition: 0.5s;
}
.cirno-card-image.avatar:hover {
  border-radius: 25%;
  transition: 0.5s;
}
.cirno-card-image.avatar:not(:hover) {
  border-radius: 50%;
}
@media (max-width: 768px) {
  .cirno-card-image {
    margin-bottom: 1.5rem;
  }
}

.cirno-card-info {
  display: flex;
  flex-direction: column;
}
.cirno-card-info.has-avatar {
  margin-left: 4.945rem;
  margin-top: -0.8rem;
}
@media (max-width: 768px) {
  .cirno-card-info.has-avatar {
    margin-left: -0.055rem;
  }
}

.cirno-card-name {
  font-size: 1.5rem;
  color: #e7385d !important;
  margin-bottom: 1rem;
  font-weight: bold;
}
.cirno-card-name.big-name {
  font-size: 1rem;
  margin-bottom: 2px;
}

.cirno-card-details {
  font-size: 1rem;
  font-family: var(--reimu-default-font-family);
  color: var(--reimu-default-font-color);
}

.itens {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5rem;
  margin-left: 5rem;
  margin-right: 3rem;
}
.itens.decorations {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.itens.decorations .item .item__icon img {
  width: 11rem;
  border-radius: 0.625rem;
  height: auto;
}
.itens .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin: 0.595rem;
  background-color: var(--reimu-secondary-color);
  border-radius: 0.625rem;
  transition: transform 0.3s ease-in-out;
}
.itens .item.common {
  border: 0.125rem solid #2196f3;
}
.itens .item.uncommon {
  border: 0.125rem solid #4caf50;
}
.itens .item.rare {
  border: 0.125rem solid #ff9800;
}
.itens .item.epic {
  border: 0.125rem solid #9c27b0;
}
.itens .item.legendary {
  border: 0.125rem solid #e7385d;
}
.itens .item .purchased {
  color: var(--reimu-default-font-color);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.3125rem;
}
.itens .item .item__icon img {
  width: 100%;
  height: auto;
}
.itens .item .item_info {
  text-align: center;
  margin-top: -0.125rem;
}
.itens .item .item_info h1 {
  margin: 0;
  font-size: 1.25rem;
}
.itens .item .item_info h5 {
  font-size: 0.999rem;
}
.itens .item .item_info #common {
  color: #2196f3;
}
.itens .item .item_info #uncommon {
  color: #4caf50;
}
.itens .item .item_info #rare {
  color: #ff9800;
}
.itens .item .item_info #epic {
  color: #9c27b0;
}
.itens .item .item_info #legendary {
  color: #e7385d;
}
.itens .item .item_info .item-name {
  color: var(--reimu-default-font-color);
  font-size: 1.2rem;
  font-family: var(--reimu-default-font-family);
  text-align: center;
}
.itens .item .item_info .item-name.limited {
  color: --reimu-secondary-color;
}
.itens .item .item_info h1 {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  display: inline-block;
}
.itens .item .item_info .purchased {
  display: block;
  margin-top: 0.3125rem;
  color: rgb(75, 207, 75);
  font-size: 1rem;
  font-weight: bold;
}
.itens .item .item_info .cakes {
  display: block;
  margin-top: 0.3125rem;
  font-size: 1rem;
  font-weight: bold;
}

.item {
  margin: 1.25rem;
  padding: 0.625rem 1.25rem;
  color: var(--reimu-default-font-color);
  font-family: var(--reimu-default-font-family);
  font-size: 0.875rem;
  text-decoration: none;
  flex: 1 0 23rem;
  max-width: 23rem;
  min-width: 20rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s;
}
.item:not(:hover) {
  transform: scale(1);
}
.item:hover {
  transform: scale(1.06);
  transition: 0.5s;
}
.item.disabled {
  cursor: not-allowed;
}

.flag {
  position: absolute;
  top: 4%;
  left: 0;
  padding: 5px 10px;
  background: var(--reimu-secondary-color);
  color: var(--reimu-default-font-color);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0 0 5px 0;
  transform: rotate(-40deg);
  z-index: 1;
  margin-left: -5%;
}
.flag.limited {
  margin-left: -10%;
  background: #e7385d;
}

.selected {
  border: 0.125rem solid #4caf50;
}

#countdown {
  color: #e7385d;
  font-size: 1.5rem;
  font-family: var(--reimu-default-font-family);
  text-align: center;
  margin: 1.3rem 0;
  margin-left: 1rem;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}
.servers {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5rem;
  margin-left: 19.6rem;
  margin-right: 7.2rem;
}
.servers .server {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--reimu-secondary-color);
  color: var(--reimu-default-font-color);
  border: 1px solid var(--reimu-tertiary-color);
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  flex: 1 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.5s;
}
.servers .server .server__icon img {
  width: 5.826rem;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.5s;
}
.servers .server .server__info h1 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--reimu-default-font-color);
  max-width: 100%;
  display: block;
}
.servers .server .server__buttons {
  justify-content: center;
  margin-top: 10px;
}
.servers .server .server__button {
  display: block;
  padding: var(--reimu-button-padding);
  border-radius: var(--reimu-button-border-radius);
  background-color: var(--reimu-button-color);
  border: none;
  margin: 0.2rem;
  outline: none;
  font-family: var(--reimu-default-button-font-family);
  font-size: var(--reimu-button-font-size);
  font-weight: var(--reimu-button-font-weight);
  color: var(--reimu-button-font-color);
  margin-top: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

footer {
  background-color: #e7385d;
  color: white !important;
  position: absolute;
  z-index: 9999;
  margin-top: auto;
  padding: 16px 72px;
  overflow: hidden;
  font-family: var(--reimu-default-font-family);
  position: relative;
  margin-top: auto;
  text-align: center;
}
footer .footer-paragraph {
  color: #fff;
  font-size: 1em;
  margin: 0;
  font-family: var(--reimu-default-font-family);
}
footer .social-networks {
  display: flex;
  justify-content: center;
  gap: 0.25em;
  font-size: 3em;
  margin-bottom: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}

.footer-add h2 {
  font-family: var(--reimu-default-font-family);
  font-size: 1.3em;
  margin: 10px auto 1% auto;
  color: #e7385d;
}
.footer-add a button {
  appearance: none;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  font-size: 17px;
  color: #fff;
  min-width: 36px;
  margin: 1.5% auto;
  padding: 0.55rem 1rem;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  background: #3ba55c;
  animation: float 5s ease-in-out infinite;
  display: flex;
}
.footer-add p {
  font-family: var(--reimu-default-font-family);
  color: #fff;
  margin: 0;
  margin-top: 10px;
}

@media (max-width: 768px) {
  footer {
    padding: 16px 24px;
  }
  .footer-add h2 {
    font-size: 1.1em;
  }
  footer .social-networks {
    font-size: 2em;
  }
}
.ad.vertical {
  position: fixed;
  right: 0;
  margin-left: 1%;
  top: 50px;
  z-index: 10;
}

.page-title {
  color: #e7385d;
  font-size: 2rem;
  font-family: var(--reimu-default-font-family);
  text-align: center;
  margin: 2rem 0 1rem 5rem;
  margin-left: 7em;
}

p {
  color: var(--reimu-default-font-color) !important;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  margin: 1rem 0;
  margin-left: 26rem;
  margin-right: 13rem;
}

.remaining-time {
  color: var(--reimu-default-font-color);
  font-size: 0.7545rem;
  font-family: var(--reimu-default-font-family);
  text-align: center;
  margin-left: 13rem;
}

.page-separator {
  height: 3px;
  background-color: #e7385d;
  width: 80%;
  max-width: 600px;
  margin: 1.5rem auto;
  margin-left: 24rem;
  border-radius: 1px;
  display: none;
}

main {
  padding-left: 2rem;
  padding-right: 3rem;
  margin-top: 7rem;
}
main .title {
  color: #e7385d;
  font-size: 2.5rem;
  font-family: var(--reimu-default-font-family);
  text-align: center;
  margin-top: -3rem;
}
main h3 {
  color: var(--reimu-default-font-color);
  font-size: 1.125rem;
  font-family: sans-serif;
  margin-left: 0.3125rem;
}

.item-name {
  color: var(--reimu-default-font-color);
  font-size: 2.5rem;
  font-family: var(--reimu-default-font-family);
  text-align: center;
  margin-top: -3rem;
}

.updateTimer {
  position: relative;
  z-index: 10;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}

@media (max-width: 48em) {
  #addBanner,
  .adsbygoogle {
    display: none !important;
  }
  html {
    background-size: contain;
  }
  .store-item,
  .itens {
    margin: 0 auto;
    flex-direction: column;
  }
  .item-name,
  .title {
    font-size: 1.5rem;
  }
  .item-img {
    width: 50%;
    height: auto;
  }
  .module,
  .server-feature,
  .item,
  .server {
    min-width: 100%;
    max-width: 100%;
    margin: 5% auto;
    padding: 0.625rem;
  }
  .sidebar-logo {
    width: 6.25rem;
    height: auto;
  }
  .server__button,
  .key-manager__add__submit {
    width: 80%;
    margin: 0.625rem auto;
    text-align: center;
  }
  .item_info h1 {
    font-size: 1.125rem;
  }
  .item_info .purchased,
  .item_info .cakes {
    font-size: 0.875rem;
  }
  .page-separator {
    width: 90%;
    height: 2px;
    margin: 1rem auto;
  }
  .page-title {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
  }
  p {
    font-size: 0.875rem;
    margin: 0.5rem 0.5rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 30em) {
  .item {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .title,
  .item-name {
    font-size: 1.125rem;
  }
}
@media (min-width: 101em) {
  .itens {
    margin-top: 0.5em;
    font-size: 1.5625rem;
  }
}
@media (min-width: 120em) {
  .itens {
    margin-top: 0.5rem;
    font-size: 1.6875rem;
  }
}
#inventory {
  margin-top: -2rem !important;
  margin-left: 18rem !important;
  margin-right: 5rem !important;
}

@media (max-width: 768px) {
  #addBanner,
  .adsbygoogle {
    display: none !important;
  }
  #inventory {
    margin-top: 0rem !important;
    margin-left: 0rem !important;
    margin-right: 1rem !important;
  }
  .servers {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  html {
    background-size: contain;
  }
  .store-item,
  .itens {
    margin: -4rem auto;
    flex-direction: column;
    align-items: center;
  }
  .item-name,
  .title {
    font-size: 1.5rem;
    text-align: center;
  }
  .item-img {
    width: 80%;
    height: auto;
    max-width: 300px;
  }
  .cirno-card-buttons {
    margin-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
  .cirno-card-title {
    margin-left: 0;
    font-size: 1.2rem;
  }
  .cirno-card-name {
    font-size: 1.25rem;
  }
  .cirno-card-info {
    align-items: center;
  }
  .cirno-card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .cirno-card-buttons a > button {
    width: 100%;
    max-width: 300px;
    margin-left: 0;
  }
  .module,
  .server-feature,
  .item,
  .server {
    min-width: 100%;
    max-width: 100%;
    margin: 5% auto;
    padding: 0.625rem;
    box-shadow: none;
  }
  .sidebar-logo {
    width: 50%;
    height: auto;
  }
  .server__button,
  .key-manager__add__submit {
    width: 90%;
    margin: 0.625rem auto;
    text-align: center;
  }
  .item_info h1 {
    font-size: 1rem;
  }
  .item_info .purchased,
  .item_info .cakes {
    font-size: 0.875rem;
  }
  .page-separator {
    width: 90%;
    height: 2px;
    margin: 1rem auto;
  }
  .page-title {
    font-size: 1.9rem;
  }
  p {
    font-size: 0.875rem;
    margin: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    display: none;
  }
  .updateTimer {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
  #countdown {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  .remaining-time {
    font-size: 0.6254rem !important;
    margin: -2.5rem 0rem 0rem 0rem !important;
  }
}
/*# sourceMappingURL=dashboard.css.map */