:root {
    /* Primary Colors */
    --reimu-primary-color: #e7385d;
    --reimu-secondary-color: #f5e1f7;
    --reimu-tertiary-color: #e9d5ff;

    /* Backgrounds and Gradients */
    --reimu-background-color: #ffffff;
    --reimu-loading-overlay-color: rgba(255, 255, 255, 0.8);
    --reimu-feature-session-background: #f5e1f7;
    --reimu-feature-card-background: #f2e6fa;
    --reimu-feature-card-font-color: #333;

    /* Sidebar */
    --reimu-sidebar-color: #f8f4fc;
    --reimu-sidebar-font-size: 14px;
    --reimu-sidebar-font-weight: 500;
    --reimu-sidebar-font-color: #333;

    /* Header */
    --reimu-navbar-color: #e7385d;
    --reimu-navbar-text-color: #fff;
    --reimu-navbar-text-hover-color: #555;
    --reimu-navbar-font-size: 17px;
    --reimu-navbar-font-family: var(--reimu-default-font-family);

    /* Mobile Nav */
    --reimu-mobile-nav-color: #f8f4fc;
    --reimu-mobile-nav-text-color: #333;

    /* Buttons */
    --reimu-button-color: #e7385d;
    --reimu-button-hover-color: #e71946;
    --reimu-button-active-color: #e7385d;
    --reimu-button-font-color: #fff;
    --reimu-button-font-size: 14px;
    --reimu-button-font-weight: 500;
    --reimu-button-border-radius: 2px;
    --reimu-button-padding: 10px 20px;

    /* Specific Element Colors */
    --reimu-server-card-color: #f06272;
    --reimu-backdrop-blur: blur(12px);

    /* Premium Cards */
    --reimu-premium-card-background: #f5e1f7;
    --reimu-premium-card-border: 1px solid #e7385d;
    --reimu-premium-recommended-color: #f06272;
    --reimu-premium-card-font-color: #333;
    --reimu-premium-recommended-flag-font-color: #fff;
    --reimu-premium-recommended-flag-color: #e7385d;
    --reimu-premium-card-button-color: #e7385d;
    --reimu-premium-card-button-font-color: #fff;

    /* Fonts */
    --reimu-greetings-font: "Cookie";
    --reimu-default-font-color: #333;
    --reimu-default-button-font-family: Roboto, sans-serif;
    --reimu-default-font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}


html {
    background: url("/assets/images/background-white.png"), var(--reimu-background-color) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    height: 100%;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--reimu-primary-color);
}

body {
    color: var(--reimu-default-font-color);
    transition: color 0.3s ease-in-out;
}